
/*      ABRIR MRNU-MOBILE COM JS      */
.menu-mobile.open-menu {
    width: 75%;
}

.menu-mobile.open-menu ~ .overlay-menu {
    display: block;
}

/*          CARD SLIDER SLICK       */
.card h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 300px) {
    .btn-mobile i {
        font-size: 1.25rem;
        padding-right: 9px;
    }

    .btn-close {
        display: block;
    }

    .btn-right i {
        font-size: 1.125rem;
    }

    .menu-mobile.open-menu {
        width: 100%;
    }
}
